body { 
	font-family: 'PT Serif Caption', serif;
	width: 900px;
	margin: 0 auto; 
}
p {font-size:0.6em;}
table {
	font-size:0.6em;
	border-radius: 20px;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

.centrado {text-align: center;}

.principal th{
	color: #fff;
	text-align:center;
    background-color: #1E7F74;
}

table tr{ text-align: center; }

.contenido tr td { border-bottom: 0.8px solid black }

.principal > tbody > tr:nth-of-type(odd){
	background-color: #e7e7e7 !important;
}


    

